<!DOCTYPE html>
<html>
  <head>
    <title><%= nickname %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>昵称：<%= nickname %></h2>
    <h2>性别：<%= sex ? '男' : '女' %></h2>
    <h2>语言：<%= language === 'zh_CN' ? '中文' : '其他语言' %></h2>
    <h2>城市：<%= city %></h2>
    <h2>省份：<%= province %></h2>
    <h2>国家：<%= country %></h2>
    <h1>头像地址：<%= headimgurl %><a href="<%= headimgurl %>"></a></h1>
    <p>EJS Welcome to <%= nickname %></p>
  </body>
</html>
